<footer class="footer">
  <nav class="footer__links">
    <ul class="footer__links--menu">
      <li class="footer__links--menu--item">
        <a class="link" href="#">Link1</a>
      </li>
      <li class="footer__links--menu--item">
        <a class="link" href="#">Link2</a>
      </li>
      <li class="footer__links--menu--item">
        <a class="link" href="#">Link3</a>
      </li>
      <li class="footer__links--menu--item">
        <a class="link" href="#">Link4</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__SM">
    <ul class="footer__SM--menu">
      <li class="footer__SM--menu--item">
        <a class="link" href="https://www.create-store.com/es/">FB</a>
      </li>
      <li class="footer__SM--menu--item">
        <a class="link" href="https://www.create-store.com/es/">TW</a>
      </li>
      <li class="footer__SM--menu--item">
        <a class="link" href="https://www.create-store.com/es/">G+</a>
      </li>
    </ul>
  </nav>
</footer>
