<header class="header">
  <div class="header__title">
    <img class="header__title--logo" src="./assets/images/logo.png" alt="logo retro" />
    <h2 class="header__title--text">LayoutDeEjemplo</h2>
  </div>

  <nav>
    <ul class="header__menu">
      <li class="header__menu--item">
        <a href="#">Link1</a>
      </li>
      <li class="header__menu--item">
        <a href="#">Link2</a>
      </li>
      <li class="header__menu--item">
        <a href="#">Link3</a>
      </li>
      <li class="header__menu--item">
        <a href="#">Link4</a>
      </li>
    </ul>
  </nav>
</header>
