<section class="section">
  <article class="section__article">
    <h3 class="section__article--title">Lorem ipsum dolor sit amet</h3>
    <p class="section__article--paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aut.
      Labore aperiam, mollitia itaque iure delectus voluptatibus cum tenetur.
      Aspernatur vitae eligendi libero voluptatem possimus enim similique dolore
      unde quaerat. 
    </p>
  </article>
  <article class="section__article">
    <h3 class="section__article--title">Lorem ipsum dolor sit amet</h3>
    <p class="section__article--paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aut.
      Labore aperiam, mollitia itaque iure delectus voluptatibus cum tenetur.
      Aspernatur vitae eligendi libero voluptatem possimus enim similique dolore
      unde quaerat. 
    </p>
  </article>
  <article class="section__article">
    <h3 class="section__article--title">Lorem ipsum dolor sit amet</h3>
    <p class="section__article--paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aut.
      Labore aperiam, mollitia itaque iure delectus voluptatibus cum tenetur.
      Aspernatur vitae eligendi libero voluptatem possimus enim similique dolore
      unde quaerat. 
    </p>
  </article>
  <aside class="section__aside">
    <div class="section__aside--square"></div>
    <div class="section__aside--square"></div>
  </aside>
</section>
