// fonts
$font-main: 'Roboto', sans-serif;

// colors
$red: rgb(192, 22, 22);
$dark-red: rgb(139, 44, 20);
$orange: rgb(255, 153, 0);
$green: rgb(7, 121, 7);

//hover colors
$light-red: rgb(250, 107, 107);