.footer {
  background-color: $orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  min-height: 10vh;

  @media all and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7rem;
    min-height: 10vh;
  }

  

  &__links {
    &--menu {
      display: flex;
      background-color: $red;

      &--item {
        font-size: 1.4rem;
        text-align: center;
        padding: 1.5rem 0;
        width: 7rem;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
          background-color: $light-red;
        }
      }
    }
  }

  &__SM {
    &--menu {
      display: flex;
      background-color: $dark-red;

      &--item {
        font-size: 1.4rem;
        text-align: center;
        padding: 1.5rem 0;
        width: 7rem;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
          background-color: $light-red;
        }
      }
    }
  }
}
