.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  padding: 2rem;
  background-color: white;

  @media (min-width: 500px) {
    min-height: 72.2vh;
  }

  &__article {
    margin-bottom: 1.5rem;

    &--title {
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 1.5rem;

      @media (min-width: 500px) {
        font-size: 2.5rem;
      }
    }

    &--paragraph {
      font-size: 1.4rem;

      @media (min-width: 500px) {
        font-size: 1.6rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.8rem;
      }
    }

    &:nth-child(2) {
      padding: 2rem 0;
      border-top: 0.1rem solid black;
      border-bottom: 0.1rem solid black;
    }

    &:nth-child(2) p {
      width: 80%;
      margin: 0 auto;
      padding-left: 2rem;
      border-left: 0.35rem solid lightgray;
    }
  }
}
